/* scroll bar */
/* ::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #b2c4d4;
    border-radius: 20px;
} */

body {
    overflow: hidden;
}

.singlex-chat {
    height: 100%;
    /* height: 100vh; */
}

.chat-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
   
}

.chat-wrap .chat-header {
    z-index: 10;
   /* position: relative; */
   position: absolute;
    /* -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; */
    width: 100%;
}

.chat-wrap .chat-header > .inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: inherit;
    height: 56px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0,0,0,.06);
    background: rgba(255,255,255, .8);
    backdrop-filter: blur(4px);
}

.chat-wrap .chat-container {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #9bb6d6;
}

.scroll-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #9bb6d6;
    -webkit-overflow-scrolling: touch;
}

.chat-list-section {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: auto;
    padding-bottom: 16px;
    line-height: 19.5px;
    letter-spacing: -.02em;
    word-wrap: break-word;
}

.chat-container .chat-window {
    padding: 72px 16px 16px;
}

.chat-wrap .chat-footer {
    z-index: 9;
    position: relative;
    background-color: pink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
}

.chat-footer .inner {
    padding: 20px 20px;
}

.chat-form {
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.chat-quick-menu {
    padding-bottom: 10px;
}

.quick-link {
    padding: 8px 12px;
    font-size: 13px;
    color: #3f4A54;
    background-color: #fff;
    border: 1px solid #c0c9d0;
    border-radius: 18px;
    margin-bottom: 5px;
}

.quick-link:hover {
    background-color: #fff4f8;
    border: 1px solid #ff88ad;
    font-weight: 500;
}


.msg-box {
    display: inline-block;
    max-width: 60%;
}
.bollon {
    /* padding: 10px;
    border:1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    width: 100%;
    display: table;
    overflow: hidden; */

    padding: 10px;
    background: #F8F8F8;
    border-radius: 16px 16px 16px 1px;
    margin-bottom: 6px;
    display: table;
    overflow: hidden;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.msg-box + .msg-box {
    margin-top: 8px;
}

.list {
    /* overflow: hidden; */
    background-color: greenyellow;
}

.clearfix:before, .clearfix:after {
    content:''; display: block; clear: both;
}

.chat-item {
    position: relative;
    clear: both;
    display: block;
    padding: 0 0 0 0!important;
    margin-bottom: 0;
}

.chat-item + .chat-item {
    margin-top: 20px;
}

.chat-item.bot {
    float: left;
    width: 100%;
    text-align: left;
}
.chat-item.user {
    float: right;
    width: 100%;
    text-align: right;
}


.simple-text {
    /* max-width: 255px; */
}

.profile {
    width: 40px;
    height: 40px;
    border: 1px solid #be3ec;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #E7E7E7;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    margin-top: -8px;
    /* flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0; */

}

.img-circle {
    max-width: unset;
    width: 73px;
    height: 73px;
    top: -16px;
    left: -16px;
    position: absolute;
}

.chat-quick-menu {
    height: 40px;
    overflow: hidden;   
}

.chat-quick-menu.auto {
    height: auto;
}

