body {
    color: #000;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-wrap {
    
    margin: 0 auto;
    height: 100%; 
    overflow: hidden;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 55px;
    background: #ccc;
}

.container {
    height: 100%;
    padding: 55px 0 50px
}

.contents {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0;
    background: pink;
}

.chat-form {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
}


.inp-chat {
    display: inline-block;
    width: 80%;
    width: calc(100% - 100px);
    height: 100%;
    padding: 10px 10px 10px;
    vertical-align: top;
    border: none;
}
